body
{
background-color: black; 
color: white;  
text-align: center; 
}

#para1
{
    font-style: italic;
}

#para4
{
    font-style: italic;
}

a
{
    text-decoration: none;
    color:yellow
}
img
{
display: block;
margin: auto;
}


